<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Green Bee WebPanel</title>
    <title>GreenBee Web Panel</title>
    <meta charset="utf-8" />
    <script
            src="http://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/event.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/supplemental.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/unresolved.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/message.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/number.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/currency.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/date.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.1.5/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.1.5/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.dark" href="https://cdn3.devexpress.com/jslib/17.1.5/css/dx.dark.css"/>
    <script src="https://cdn3.devexpress.com/jslib/17.1.5/js/dx.all.js"></script>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <style>
        .options {
            padding: 20px;
            background-color: black;
            margin-top: 20px;
        }

        .option {
            margin-top: 10px;
        }

        .caption {
            font-size: 18px;
            font-weight: 500;
        }

        .option > span {
            margin-right: 10px;
        }

        .option > .dx-widget {
            display: inline-block;
            vertical-align: middle;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/web-panel.css}"
          href="../../css/web-panel.css"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var context = JSON.parse([[${contextJson}]]);
        /*]]>*/
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <li class="active"><a id ="user-name-title" class="navbar-brand" style="color:green; cursor: default;"><span class="glyphicon glyphicon-user"></span> </a></li>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <form  th:action="@{/logout}" method= "post">
                    <button class="btn btn-danger navbar-btn">Выйти</button>
                </form>
            </li>
        </ul>
        <form class="navbar-form navbar-right">
            <div class="form-group" style="width: 250px;">
                <input type="text" id="search-input" style="width: 250px;" class="form-control" placeholder="Введите имя устройства.."></input>
            </div>
            <button class="btn btn-default" onclick="findDevice()">Найти</button>
        </form>
    </div>
</nav>
<div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li  data-toggle="collapse" data-target="#devices" class="collapsed active" onclick="formTable()">
                <a ><i class="fa fa-laptop fa-lg"></i> Шлюзы <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="devices">

            </ul>

            <li onclick="formAnalytic()">
                <a >
                    <i class="fa fa-line-chart fa-lg"></i> Аналитика
                </a>
            </li>
            <li onclick="formNotifications()">
                <a >
                    <i class="fa fa-bell fa-lg"></i> Уведомления
                    <span class="badge badge-error">0</span>
                </a>
            </li>
            <li >
                <a>
                    <i class="fa  fa-dashboard fa-lg"></i> Настройки
                </a>
            </li>

        </ul>
    </div>
</div>
<div id="content-panel" class="panel-content">

</div>

<script th:inline="javascript" src="../../js/web-panel.js"></script>

</body>
</html>